# Directories
/node_modules/
/src/test/js/
/coverage/
/datatables-filterdropdown/

# Files
/.make/config-overrides.ini
/datatables-filterdropdown*.zip
/*.min.js
/*.min.js.map
/src/**/*.min.js
/src/**/*.min.js.map
/tests/**/*.min.js
/tests/**/*.min.js.map
